$primaryColor: #002977; // blue
$secondaryColor:#FCCB51; // magenta
$textColor:	#555555; // grey
$footerColor: #d7d8db; // grey

$menuColor: #e9e9e9;
$activeColor: #ffcd34; // orange

$defaultFont: 'Assistant', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 700;
$orange: orange;

$gutter: 2%;